@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Pretendard-Regular;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 200px auto 0;
    min-width: 375px;
    max-width: 900px;
}


.item_title{
    display:flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 35px;
}

.item{
    display: flex;
}

.item_img{
    width: 20%;
    font-size: 30px;
}

.item_text{
    display: flex; 
    align-items: center;
    width: 80%;
    text-indent: 10px;
    position: relative;
}

.item_text_ex{
    display: flex; 
    align-items: center;
    width: 80%;
    position: relative;
	justify-content: flex-end;
}

.email_text{
    width: 300px;
    height: 30px;
}
.pwd_text{
    width: 300px;
    height: 30px;
}

.item_text input[name="m_pwd"] {
  padding-right: 30px; /* 오른쪽 여백을 눈 아이콘을 위한 공간으로 확보 */
}

.item_text i {
  position: absolute;
  top: 50%;
  right: 10px; /* 눈 아이콘을 오른쪽에 위치시킴 */
  transform: translateY(-50%);
  cursor: pointer;
}

.item_btn{
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login_btn{
	width: 350px;
    border: 1px solid gray;
    border-radius:5px;
    height: 30px;
    box-sizing: border-box;
    vertical-align: middle;
    padding:3.5px;
    cursor:pointer;
    font-size: 16px;
    background-color: #FFFF7E;
}
.login_btn:hover{
	box-shadow: 0 0 10px gray;
}
.back_btn{
	width: 350px;
    border: 1px solid gray;
    border-radius:5px;
    height: 30px;
    box-sizing: border-box;
    vertical-align: middle;
    padding:3.5px;
    cursor:pointer;
    font-size: 16px;
    background-color: #FFFF7E;
}
.back_btn:hover{
	box-shadow: 0 0 10px gray;
}

